.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #c921f3;
  padding: 0.625rem;
  width: 50%;
}

.grid-item {
  background-color: red;
  border: 0.0625rem solid rgba(55, 78, 28, 0.8);
  padding: 0.625rem;
  font-size: 1.875rem;
  text-align: center;
}

.wrapper {
  display: grid;
  grid-template-columns: 12.5rem 12.5rem 12.5rem;
  background-color: rgb(105, 105, 105);
}

* {
  font-size: 1.5625rem;
}

.container {
  display: grid;
  grid-template-columns: [line1] 1fr [line2] 1fr [line3] 1fr [line4];
  gap: 0 3.4375rem;

  /* grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 10rem;
    gap: 0.625rem;
    grid-auto-flow: dense; */
}

/* .container_2 {
    display: inline-grid;
    grid-template-columns: repeat(3, 1fr);
}
/* .item2 {
    grid-column: span 2;
    grid-row: span 2;
}
.item3 {
    grid-column: span 2;
    grid-row: span 2;
} */
.img {
  width: 100%;
}

.item {
  background: rgb(1, 51, 75);
}

.item1 {
  grid-column-start: line1;
  grid-column-end: line4;
  grid-row-start: 1;
  grid-row-end: 2;
  background: rgb(82, 5, 224);
  opacity: 5;
}

.item2 {
  background: rgb(86, 88, 2);
  opacity: 5;
  /* grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3; */
}
